html{
    scroll-behavior: smooth;;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* HOMEPAGE */

.hero {
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(#04091eb3, #04091eb3),url(../images/IMG_5483\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} 

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
    float: left;
    position: absolute;
    right: 90%;
    bottom: 85%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f4bc1c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width:100%;
}

.text-box {
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
    
.resume {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
    
.resume:hover {
    border:1px solid #f4bc1c;
    background: #f4961ce3;
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

/* SOCIAL MEDIA ICONS */

.media {
    justify-content: center;
    transition: translate(-50%, -50%);
}

.social-media {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: .5s;
}

.social-media:hover {
    color: #f4bc1c;
    border: 2px solid #f4bc1c;
    transition: .5s;
}

/* PROJECTS */

.project {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.project-desc {
    font-size: 22px;
  }
  
.project h1 {
  font-size: 36px;
  font-weight: 600;
  }

.project-col {
    flex-basis: 47%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.project-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.layer:hover {
    background: #f4ba1cce;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #000;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.layer:hover h3 {
    bottom: 65%;
    opacity: 1;
}

.layer p {
    width: 100%;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.layer:hover p {
    bottom: 30%;
    opacity: 1;
}

.links {
    font-size: 19px;
    padding-top: 10px;
    color: #535353;
    z-index: 1;
    text-decoration: none;
}
  
.links::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    text-decoration: none;
}

/* ABOUT SECTION */

.portrait {
    border: 10px solid #e7b11d;
    width: 250px;
    height: 300px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 20px;
    left: 43%;
    position: absolute;
}

.portrait img {
    width: 248px;
    height: 320px;
    z-index: 1;
}

.underlay {
    background: #e7b11d;
    border-radius: 15px;
    margin: 150px;
    margin-top: 200px;
    padding: 150px 100px 100px 100px;
}

.about-me {
    font-size: 20px;
}

.about-me p {
    font-weight:500;
    text-align: center;
}